$bg-grey: #232323;
$light-grey: #323232;
$lighter-grey: #4f4f4f;
$accent-blue: #0094ff;
$bg-blue: #3daeff;
$border-blue: #7bc5f9;

* {
    transition-duration: 200ms;
}

body {
    margin: 0;

    & #root {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
}

header {
    flex: 1;
    background-color: $accent-blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;

    & > h1 {
        margin: 0;
    }

    & > #searchContainer {
        flex: 1;
        display: flex;
        align-items: center;
        margin: 0 25%;
        border: 2px solid $border-blue;
        border-radius: 0.5rem;
        background-color: $bg-blue;

        & > span {
            display: flex;
            align-items: center;
            margin-left: 0.6rem;

        }

        & > input#search {
            flex: 1;
            padding: 0.6rem 0.6rem;
            background: none;
            border: none;
            font-size: large;
            color: white;

            &:focus {
                outline: none;
                border: none;
            }
        }
    }

    & > button#random {
        background-color: $bg-blue;
        border: 2px solid $border-blue;
        color: white;
        display: flex;
        align-items: center;
        padding: 0.4rem 0.6rem;
        border-radius: 0.5rem;
    }
}

main {
    padding: 2rem 2rem;
    flex: 20 100%;
    background-color: $bg-grey;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    gap: 1rem;

    & article.postCard {
        flex: 1 1 20%;
        display: flex;
        max-width: 500px;
        max-height: 200px;
        overflow: hidden;
        cursor: pointer;
        border-radius: 0.6rem;
        box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);

        &:hover {
            & section {
                background-color: $lighter-grey;
            }
        }

        & img {
            flex: 1;
            height: auto;
            object-fit: cover;
        }

        & section {
            flex: 1;
            background-color: $light-grey;
            padding: 1rem 1rem;

            & a.originLink {
                font-size: small;
                display: flex;
                align-items: center;
                color: $accent-blue;
                margin-bottom: 0.5rem;
            }

            & h2 {
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 3;
                margin: 0;
                margin-bottom: 0.5rem;
                font-size: large;
                line-height: 1.3;
            }

            & p {
                margin: 0;

                &.author {
                    display: inline;

                    & a {
                        color: white;
                        text-decoration: none;
                    }
                }

                &.subreddit {
                    float: right;

                    & a {
                        color: white;
                        text-decoration: none;
                    }
                }

                &.score {
                    font-weight: bold;
                }

                &.selftext {
                    display: -webkit-box;
                    overflow : hidden;
                    text-overflow: ellipsis;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;  
                }
            }
        }
    }
}